<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="PalabrasEntities" connectionString="metadata=res://*/Data.Palabras.csdl|res://*/Data.Palabras.ssdl|res://*/Data.Palabras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JONATHAN-PC\SQLEXPRESS;initial catalog=neptuno;user id=sa;password=Alex0108;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  <add name="PalabrasEntities" connectionString="metadata=res://*/Data.Palabras.csdl|res://*/Data.Palabras.ssdl|res://*/Data.Palabras.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=A19-DAP-357\SQLEXPRESS;initial catalog=neptuno;user id=sa;password=Alex0108;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

</configuration>
